<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Access to Bank Project</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7dcfd">  <td>20/11/20 17:47:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTest.setUp(java.lang.String)[pri:0, instance:com.myTest.LoginTest@7c0c77c7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@137011021</td>   <td></td> </tr>
<tr bgcolor="92d9cc">  <td>20/11/20 17:47:19</td>   <td>5869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInfoRegistrationDisplayed()[pri:1, instance:com.myTest.LoginTest@7c0c77c7]">verifyInfoRegistrationDisplayed</td> 
  <td>TestNG-test=Run with Chrome browser-1@728196754</td>   <td></td> </tr>
<tr bgcolor="92d9cc">  <td>20/11/20 17:47:27</td>   <td>13453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.doLogin1()[pri:2, instance:com.myTest.LoginTest@7c0c77c7]">doLogin1</td> 
  <td>TestNG-test=Run with Chrome browser-2@1207740778</td>   <td></td> </tr>
<tr bgcolor="f385a2">  <td>20/11/20 17:47:27</td>   <td>13454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgileTest.doLogin1()[pri:2, instance:com.myTest.AgileTest@7adda9cc]">doLogin1</td> 
  <td>TestNG-test=Run with Chrome browser-3@102813808</td>   <td></td> </tr>
</table>
