<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b19b79">  <td>20/11/20 17:41:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AgileTest.doLogin()[pri:1, instance:com.myTest.AgileTest@48aaecc3]">doLogin</td> 
  <td>main@386163331</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>20/11/20 17:41:15</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyInfoRegistrationDisplayed()[pri:1, instance:com.myTest.AgileTest@48aaecc3]">verifyInfoRegistrationDisplayed</td> 
  <td>main@386163331</td>   <td></td> </tr>
</table>
